$dark-opac: rgba(14, 12, 12, 0.541);
$light-opac: rgba(245, 243, 243, 0.925);
$dark-box: rgba(14, 12, 12, 0.767);

$red-custom: #e62d43af;
$yellow-custom: #FAB905;
$green-custom: #5bc216d5;
$blue-custom: #2893f0a1;

$breakpoint : 900px;