@import './custom';

@font-face {
  font-family: 'Augusta';
  src: url('../assets/fonts/Augusta.ttf');
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image: url("../assets/images/paper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    padding: 1.5% 0;
    background-color: $dark-opac;
    color: white;
    font-size: 2.5em;
    text-align: center;
  }
  
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.input {
  display: flex;
  padding: 0.5%;
  margin-bottom: 3%;
  border-radius: 30px;

  input {
    max-width: 40vw;
    padding: 0.5vw 2vw;
    border: 3px solid white;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  #submitButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.wrongInput {
    background-color: $red-custom;
  }
}

.board {
  padding: 6vh;
  background-color: $light-opac;
  border-radius: 30px;
  display: flex;
  flex-direction: column;

  .line {
    display: flex;
    
    .box {
      width: 3vw;
      height: 3vw;
      margin: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $dark-box;
      color: white;
      font-size: 1.6rem;
      border-radius: 6px;
  
      &.placed {
        background-color: $green-custom;
      }
      &.misplaced {
        background-color: $yellow-custom;
      }
      &.wrong {
        background-color: $red-custom;
      }
    }
  }
}

#replayButton {
  background-color: #fab9053d;;
  transition: transform 500ms;

  &:hover {
    transform: scale(1.05); 
    background-color: #fab905a9;
  }
}
  
button {
  padding: 11px 44px;
  border-radius: 30px;
  background-color: #2893f04b;
  color: white;
  border: 3px solid white;

  &:hover {
    background-color: $blue-custom;
    cursor: pointer;
  }
}

@media all and (max-width: $breakpoint) {

  .input {
    margin: 11% 0 6% 0;
  }

  .board {
    padding: 2vh;
    margin-bottom: 11%;

    .line {

      .box {
        width: 9vw;
        height: 9vw;
        font-size: 1.4em;

      }
    }
  }
}
